
header {
  text-align: center;
  text-transform: uppercase;
  background-color:#FFFFFF ;
  border:turquoise 10px;
  margin: 13%;
  padding: 13%;
  }
  
  body {
  background-color: #164A41;
  box-sizing: border-box;
  }

  
  
  h1 {
    /* font-size: 2em; */
  }
  
  h2 {
    font-size: 1.5em;
    
  }
  
  
  #intro p {
    color: #FFFFFF ;
    font-size: 160%;
    height: 400%;
    padding-top: 15%;
    padding-left: 2%;
    display: flex;
    justify-content: center;
     width: 55%;
     /* float: right; */
    /* margin: 20px;
    padding: 10px;
    text-align: right;
    position: absolute;
    vertical-align: 5px; */
  }


  #photo1 {
    max-width: 500%;
    float: left;
     size: 8%;
    padding-left: 2%;
    margin-top: 1.5%;
  }

  #topten ol {
    padding-left: 23%;
  }

  #topten li {
    color: #FFFFFF;
    float: left;
    font-size: 170%;
    margin-right: 9%;
    margin-left: 1%;
    inline-size: 22%;
    /* vertical-align: auto; */
    flex: auto;
    justify-content: space-evenly;
  }

  #topten h3 {
    color:#FFFFFF ;
    float: left;
    margin-left: 1%;
    margin-top: 17%;
    padding-top: 15%;
    font-size: 160%;
  }

  #photo2 {
    float: right;
    margin-top: 38%;
    max-width: 35%;
    size: 55%;
    padding-right: 2%;
    margin-bottom: 10%;
  }

  /* #education {
    color: #FFFFFF;
    float: right;
    font-size: 150%;
    margin-top: 25%;
  } */

  #education h4 {
    color: #FFFFFF;
    margin-top: 32%;
    float: right;
    text-transform: uppercase;
    text-align: center;
    font-size: 170%;
    padding-left: 7%;
    margin-bottom: -8px;
    /* color: #FFFFFF;
    float: right;
    text-transform: uppercase;
    margin-top: 22%;
    font-size: 150%;
    /* padding-top: 27%; */
    /* border-style: solid; */
    /* margin-right: 22%;
    text-transform: uppercase; */
  } 

  #education ul {
    color: #FFFFFF;
    float: right;
    font-size:140%;
    margin-bottom: 12%;
    padding-left: 2%;
    margin-top: -10px;
    /* font-style: #FFFFFF;
    float: right;
    /* border-style: solid; */
    /* justify-content: center;
    margin-left: 26%; */
    /* padding-left: 20%; */
    /* margin-bottom: 12%%;
    width: 55%;
    font-size: 130%;
    border-style: solid; */ 
  }

  #photo3 {
    size: 20%;
    max-height: 90%;
    margin-left: 2%;
    max-width: 40%;
    /* margin-top: 3%; */
    margin-top: 25%;
  }

  /* #education ul {
     /* border-style: solid; */
     /* color: #FFFFFF;
     float: left;
     font-size:140%;
     /* margin-bottom: % ; */
     /* padding-left: 2%; */ 
     /* justify-content: left; */
     /* margin-right: 65%; */
    /* /* color: #FFFFFF; */
    /* inline-size: 35%; */
    /* block-size: 25%; */
    /* margin-bottom: 26%; */
     /* margin-right: 18%; 
    font-size: 60%; 
    margin-bottom: 55%; */
  

  /* #ww li {
    color: #FFFFFF;
    margin-bottom: 25%;
    font-size: 100%;
    float: right;
  } */

  #workhistory h4 {
    color: #FFFFFF;
    margin-top: 32%;
    float: left;
    text-transform: uppercase;
    font-size: 170%;
    padding-left: 5%;
  }

  #photo4 {
    margin-top: 12%;
    width: 55%;
    size: 22%;
    float: right;
    padding-right: 2%;
  }

  #workhistory ul {
    /* border-style: solid; */
    color: #FFFFFF;
    float: left;
    font-size:140%;
    /* margin-bottom: % ; */
    padding-left: 2%;
    /* justify-content: left; */
    /* margin-right: 65%; */

  }


