
header {
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(127, 255, 249);
  border:turquoise 5px;
  margin: 10px;
  padding: 10px;
  }
  
  body {
  background-color:#E8B454;
  box-sizing: border-box;
  }
  
  p {
  color: #CEE854 ;
  }
  
  h1 {
  /* font-size: 2em; */
  }
  
  h2 {
  font-size: 1.5em;
  
  }

  #topten li {
    font-size: 60 em;
    color: azure;
    inline-size: 22em;
  }

  #topten h3 {
    color: azure;

  }